<?xml version="1.0" encoding="UTF-8"?>
<!--


    Copyright (C) 2002-2012 "SYSNET International, Inc."
    support@sysnetint.com [http://www.sysnetint.com]

    This file is part of OpenEMPI.

    OpenEMPI is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">

	<bean id="hl7ConversionHelper" class="org.openhie.openempi.nhinadapter.hl7.Hl7ConversionHelper">
		<property name="allowAddressQueryAttribute" value="${allow-address-query-attribute}"/>
		<property name="allowTelecomQueryAttribute" value="${allow-telecom-query-attribute}"/>
		<property name="allowSocialSecurityNumberQueryAttribute" value="${allow-social-security-number-query-attribute}"/>
		<property name="allowAddressResponseAttribute" value="${allow-address-response-attribute}"/>
		<property name="allowTelecomResponseAttribute" value="${allow-telecom-response-attribute}"/>
		<property name="allowSocialSecurityNumberResponseAttribute" value="${allow-social-security-number-response-attribute}"/>
		<property name="allowPartialMatches" value="${allow-partial-matches}"/>
		<property name="assigningAuthorityId" value="${assigning-authority-id}"/>
		<property name="localHomeCommunityId" value="${local-home-community-id}"/>
	</bean>
	
</beans>
